$break-point-1: 1180px;
$break-point-2: 912px;
$break-point-3: 767px;

.main-layout {
    .body {
        min-height: calc(100vh - 70px);
        height: 100%;
        background: #fdecd9;

        .container {
            width: 100vw;
        }
    }
}
