@font-face {
    font-family: "Mali-Regular";
    src: local("Mali-Regular"), url(./assets/fonts/Mali-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Mali-Medium";
    src: local("Mali-Medium"), url(./assets/fonts/Mali-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Mali-SemiBold";
    src: local("Mali-SemiBold"), url(./assets/fonts/Mali-SemiBold.ttf) format("truetype");
}

html,
body,
#root {
    font-family: "Mali-Regular", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body > iframe {pointer-events: none;}

[data-theme="compact"] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
    margin-bottom: 32px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 8px;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
    color: #ffffff !important;
    border-radius: 50% !important;
}

.ant-pagination-item {
    background: #5d3172 !important;
    color: #ffffff !important;
    border-radius: 50% !important;
	border: none !important;
}

.ant-pagination-item a {
    color: #ffffff !important;
}

.ant-pagination-item-active {
	background: #BCABEA !important;
    border-radius: 50% !important;
}
